/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: rgb(20, 127, 194);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}
nav ul li :hover{
    text-decoration: underline;
    text-decoration-color:chocolate ;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin-bottom: 30px;
}

footer {
    background: rgb(20, 127, 194);
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos específicos */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

ul {
    list-style:none;
    margin-left: 20px;
}

a {
    color: #000000;
}

.centrarTexto{
    text-align: center; 
 }

 @media (max-width: 768px) {
    header {
        padding: 0.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
